
.nav-color{
    background: linear-gradient(to right, #00aaff, #0a7d6b);
     color: white;
   }
   
   .nav-color-top{
     background: linear-gradient(to right, #00aaff, #0a7d6b);
     color: white;
     box-shadow: 1px 1px #000000;
   }
   
   i{
     color: white;
   }

   /* Table styling */

   .myLoan {
        margin: 5rem;
   }

   .applyForm {
       margin: 5rem;
   }

   #myLoanBtn, h2 {
       margin-bottom: 10px ;
   }