

.nav-color{
    background: linear-gradient(to right, #00aaff, #0a7d6b);
     color: white;
   }
   
   .nav-color-top{
     background: linear-gradient(to right, #00aaff, #0a7d6b);
     color: white;
     box-shadow: 1px 1px #000000;
   }
   
   .loanBtn, .profileBtn, .usersBtn {
    cursor: pointer;
  }

   i{
     color: white;
   }

   /* Table styling */

   .myLoan,.applyForm, .myProfile {
        margin: 5rem;
   }

   #myLoanBtn, h2 {
       margin-bottom: 10px ;
   }